@keyframes shift {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20px);
  }
}
body {
  overflow-x: hidden;
  background: #020024;
  color: #f6f7f8;
}
p {
  font-size: 16px;
}
p.small {
  font-size: 14px;
}
section {
  padding: 3.5em 0;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #20a4f3;
  outline: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
hr {
  margin: 21px auto;
  max-width: 80%;
}
hr.star-primary {
  padding: 0;
  border: none;
  border-color: #20a4f3;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  background-color: #020024;
  color: #20a4f3;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
.img-centered {
  margin: 0 auto;
}
.btn {
  background-color: #20a4f3;
  margin: 1.25em 0;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background: rgba(32, 164, 243, 0.8);
  outline: none;
}
.btn-outline {
  color: #f6f7f8;
  font-size: 20px;
  border: solid 2px #f6f7f8;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #20a4f3;
  background: #f6f7f8;
  border: solid 2px #f6f7f8;
}
pre {
  color: #ff79c6;
  background-color: #282a36;
  border: 1px solid #20a4f3;
}
kbd {
  color: #ff79c6;
  background-color: #282a36;
}
.navbar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  background: rgba(46, 7, 65, 0.8);
  padding: 1.25em 0;
  margin-bottom: 0;
}
.navbar .nav-brand {
  color: #f6f7f8;
  font-size: 20px;
}
.navbar .nav-brand .jelly-nav-logo {
  padding: 0 0.625em;
  width: 52px;
}
.navbar .btn-group {
  padding-top: 3px;
}
@media (max-width: 768px) {
  .navbar .btn-group {
    padding-right: 10%;
  }
}
.navbar .btn-group .btn {
  color: #f6f7f8;
  background-color: transparent;
  padding: 0 0.75em;
  margin: 0;
}
header {
  text-align: center;
  background: linear-gradient(0deg, #020024 0%, #2e0741 60%);
  color: #f6f7f8;
  padding: 100px 0;
}
header img {
  display: block;
  margin: 0 auto 1.25em;
  max-width: 300px;
}
header .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
@media (min-width: 768px) {
  header .intro-text .name {
    font-size: 4.75em;
  }
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
section.threads .threads-container .thread-icon {
  width: 150px;
  height: 150px;
  padding: 0.625em;
}
section.hacknroll {
  background: linear-gradient(0deg, #2e0741 60%, #020024 100%);
}
section.hacknroll #lottieTrophy {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
footer {
  background-color: #2e0741;
  color: #f6f7f8;
}
footer h3 {
  margin-bottom: 1.875em;
}
footer .footer-above {
  padding-top: 3.125em;
}
footer .footer-col {
  margin-bottom: 3.125em;
}
footer .footer-below {
  padding: 1.563em 0;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 1.25em;
  width: 3.125em;
  height: 3.125em;
  border-radius: 100%;
  line-height: 28px;
}

/*# sourceMappingURL=freelancer.css.map */